<!doctype html><html lang="de-CH"><head><meta charset="utf-8">
<link rel="stylesheet" href="../jans.css"><link rel="stylesheet" href="../accent.css"></head>
<body class="accent"><div class="page">

  <div class="mast">
    <div>
      <div class="kicker">Studie 2622 · Brandschutz-Memo</div>
    </div>
    <div class="brand">RAPHAEL JANS ARCHITEKTEN ETH/SIA</div>
  </div>
  <hr class="rule top">

  <div class="title">Brandschutz-Vorabkl&auml;rung Treppenhausbreite</div>
  <div class="subtitle">Dachausbau Maisonette zu zwei Wohnungen &middot; Bahnhofstrasse 27, 8855 Wangen SZ &middot; Stand 19.06.2026</div>

  <div class="meta">
    <div class="cell">
      <div class="lab">Objekt / Parzelle</div>
      <div class="val">Bahnhofstr. 27 &middot; Parz. 25<br><span class="num">EGRID CH379377805305</span></div>
    </div>
    <div class="cell">
      <div class="lab">Geb&auml;udeart (VKF)</div>
      <div class="val">Wohnen + Gewerbe<br>Geb&auml;ude geringer H&ouml;he</div>
    </div>
    <div class="cell">
      <div class="lab">Beh&ouml;rde</div>
      <div class="val">Feuerpolizei / GVS Schwyz<br>Brandschutzbeh&ouml;rde SZ</div>
    </div>
  </div>

  <div class="kpi">
    <div class="k">
      <div class="klab">Treppenlauf Ist</div>
      <div class="kfig">1.0<small>&thinsp;m</small></div>
      <div class="knote">Vor Ort gemessen, Massivtreppe</div>
    </div>
    <div class="k">
      <div class="klab">VKF-Regelmass</div>
      <div class="kfig">1.2<small>&thinsp;m</small></div>
      <div class="knote">Ziff. 2.4.5 Abs. 3, Soll-Breite</div>
    </div>
    <div class="k">
      <div class="klab">Bewilligungsf&auml;higkeit</div>
      <div class="kfig">bedingt</div>
      <div class="knote">Einzelfallentscheid, mit Auflagen</div>
    </div>
  </div>

  <div class="sec">
    <div class="sechead"><span class="no">01</span><div class="ttl">Ausgangslage</div></div>
    <p>Die 7.5-Zi-Maisonette WHG&nbsp;3 (OG2 + DG, 195.7&nbsp;m&sup2; HNF) soll in zwei Wohnungen geteilt werden. Das gemeinsame Treppenhaus weist einen Treppenlauf von rund 1.0&nbsp;m auf (vor Ort gemessen). Erschliessung EG (Arztpraxis), OG1, OG2 und DG. Geb&auml;ude geringer H&ouml;he (oberster Wohnungsboden DG +7.93&nbsp;m), Lift vorhanden.</p>
  </div>

  <div class="sec">
    <div class="sechead"><span class="no">02</span><div class="ttl">Normbeurteilung <span class="q">&middot; VKF-Richtlinie 16-15 Flucht- und Rettungswege</span></div></div>
    <table>
      <colgroup><col style="width:16%"><col style="width:52%"><col style="width:32%"></colgroup>
      <thead><tr><th>Ziffer</th><th>Anforderung</th><th>Beurteilung Objekt</th></tr></thead>
      <tbody>
        <tr>
          <td class="k num">2.4.5/3</td>
          <td>Geradl&auml;ufige Treppen inkl. Podeste &ge; 1.2&nbsp;m; nutzungsbezogene Abweichungen nur nach Ziff. 3.</td>
          <td><span class="st bad"><span class="dot"></span>unterschritten</span><br>Treppenlauf 1.0&nbsp;m &lt; 1.2&nbsp;m</td>
        </tr>
        <tr>
          <td class="k num">3.1/2a</td>
          <td>Reduktion geradl&auml;ufig auf 0.9&nbsp;m, nur bei Geb&auml;ude mit geringen Abmessungen (max. 2 Geschosse).</td>
          <td><span class="st bad"><span class="dot"></span>nicht anwendbar</span><br>3 Vollgeschosse + DG</td>
        </tr>
        <tr>
          <td class="k num">3.2.2/2</td>
          <td>Reduktion geradl&auml;ufig auf 0.9&nbsp;m, nur wenn Treppe max. 1 OG + 1 UG erschliesst.</td>
          <td><span class="st bad"><span class="dot"></span>nicht anwendbar</span><br>erschliesst EG/OG1/OG2/DG</td>
        </tr>
        <tr>
          <td class="k num">2.4.2/1a</td>
          <td>Geschossfl&auml;che bis 900&nbsp;m&sup2;, ein vertikaler Fluchtweg gen&uuml;gt.</td>
          <td><span class="st ok"><span class="dot"></span>erf&uuml;llt</span><br>Geschosse 150&ndash;240&nbsp;m&sup2;</td>
        </tr>
        <tr>
          <td class="k num">2.4.3/1</td>
          <td>Gesamtl&auml;nge Fluchtweg zu einem Fluchtweg &le; 35&nbsp;m.</td>
          <td><span class="st mid"><span class="dot"></span>nachweisen</span><br>je neue Einheit pr&uuml;fen</td>
        </tr>
        <tr>
          <td class="k">ger. H&ouml;he</td>
          <td>Kein Sicherheitstreppenhaus n&ouml;tig; 2. Rettungsweg &uuml;ber Anleiterung der Feuerwehr zul&auml;ssig.</td>
          <td><span class="st ok"><span class="dot"></span>g&uuml;nstig</span><br>DG-Boden +7.93&nbsp;m anleiterbar</td>
        </tr>
      </tbody>
    </table>
    <div class="callout">
      <div class="cl">Befund</div>
      <p>Der Treppenlauf von 1.0&nbsp;m unterschreitet das VKF-Regelmass von 1.2&nbsp;m; keine der zwei Reduktions-Ausnahmen greift, weil das Geb&auml;ude 3 Vollgeschosse + DG hat und das Treppenhaus mehr als ein Obergeschoss erschliesst. Eine Bewilligung nach Schema ist damit ausgeschlossen. M&ouml;glich bleibt sie &uuml;ber eine Abweichung im Einzelfall (Ziff. 2.1 Abs. 3: objektbezogene Konzeptmethode in Abstimmung mit der Brandschutzbeh&ouml;rde) mit Kompensationsmassnahmen. Die Verbreiterung des Massivtreppenhauses auf 1.2&nbsp;m w&auml;re im Bestand baulich unverh&auml;ltnism&auml;ssig.</p>
    </div>
  </div>

  <div class="sec">
    <div class="sechead"><span class="no">03</span><div class="ttl">Kompensationskonzept <span class="q">&middot; Abweichungsantrag</span></div></div>
    <table>
      <colgroup><col style="width:30%"><col style="width:70%"></colgroup>
      <thead><tr><th>Massnahme</th><th>Wirkung / Schutzziel</th></tr></thead>
      <tbody>
        <tr><td class="k">Sicheres Treppenhaus</td><td>Umfassungsw&auml;nde EI&nbsp;30 / EI&nbsp;60, Wohnungs- und Keller-T&uuml;ren EI&nbsp;30 / T30 selbstschliessend, Oberfl&auml;chen RF1, keine Brandlasten im Treppenraum. Ergibt einen rauchfreien Fluchtweg trotz reduzierter Breite.</td></tr>
        <tr><td class="k">2. Rettungsweg je Einheit</td><td>Anleiterbares Fenster oder Balkon je neue Wohnung, dazu nachgewiesene Feuerwehr-Aufstellfl&auml;che an der Bahnhofstrasse (zul&auml;ssig bei Geb&auml;ude geringer H&ouml;he).</td></tr>
        <tr><td class="k">Brandabschnitt Einheiten</td><td>Trennwand und Decke OG2 zu DG der zwei Wohnungen EI&nbsp;30 (REI nach Tragwerk), inkl. Schallschutz.</td></tr>
        <tr><td class="k">Detektion (optional)</td><td>Rauchmelder in den Wohnungen und im Treppenhaus, allenfalls Rauchabzug-&Ouml;ffnung im Treppenhauskopf, je nach Auflage der Beh&ouml;rde.</td></tr>
        <tr><td class="k">Fluchtwegl&auml;ngen</td><td>&le; 35&nbsp;m je Einheit bis ins Treppenhaus einhalten (Ziff. 2.4.3).</td></tr>
      </tbody>
    </table>
  </div>

  <div class="sec">
    <div class="sechead"><span class="no">04</span><div class="ttl">Empfehlung / Antrag</div></div>
    <p><b>Bewilligungsf&auml;higkeit bedingt:</b> realistisch machbar mit Auflagen, aber Einzelfallentscheid der Beh&ouml;rde. Bei Wohnumbauten geringer H&ouml;he im Bestand wird ein 1.0-m-Treppenhaus mit sicherem Treppenhaus und Anleiterung regelm&auml;ssig akzeptiert.</p>
    <p><b>Vorgehen:</b> (1)&nbsp;anerkannten Brandschutz-Fachplaner SZ beiziehen; (2)&nbsp;Abweichungsantrag mit obigem Kompensationskonzept bei der Feuerpolizei / GVS Schwyz; (3)&nbsp;Feuerwehr-Aufstellfl&auml;che und anleiterbare Fenster belegen.</p>
    <p><b>Restrisiko:</b> Besteht die Beh&ouml;rde auf 1.2&nbsp;m, ist die Zwei-Wohnungs-Teilung baulich kaum umsetzbar. R&uuml;ckfallebene: eine grosse DG-Einheit belassen.</p>
  </div>

  <div class="foot">
    <div class="legend">
      <span><span class="dot bad"></span>kritisch / nicht erf&uuml;llt</span>
      <span><span class="dot mid"></span>bedingt / nachweisen</span>
      <span><span class="dot ok"></span>erf&uuml;llt / g&uuml;nstig</span>
    </div>
    <div class="src">
      <div class="txt">Quelle: VKF-Brandschutzrichtlinie 16-15de Flucht- und Rettungswege (rev. 2016), verbindlich in allen Kantonen. Brandschutz ist VKF-harmonisiert (gilt in SZ). Die abschliessende Klassifizierung obliegt dem anerkannten Brandschutz-Fachplaner und der Brandschutzbeh&ouml;rde; dieses Memo bereitet die Vorabkl&auml;rung vor und nimmt die Beurteilung nicht vorweg. Keine Bewilligungs-Zusicherung.</div>
      <div class="pg">Studie 2622<br>19.06.2026<br>Seite 1/1</div>
    </div>
  </div>

</div></body></html>
